html, body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000;
  background-size: cover;
  background-position: center;
  color: #FF0000;
  font-family: 'Pathway Gothic One', sans-serif;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

.header {
  font-size: 3.5em;
  margin: 0 auto;
  margin-top: 30px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 0 auto;
  font-size: 2em;
  padding: 50px;
}

.flames {
  display: flex;
  flex-shrink: 0;
  margin-top: auto;
  min-width: 100vw;
}

.flameImg {
  min-width: 50vw;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links img {
  width: 100px;
  height: 100px;
  margin: 10px 110px;
  cursor: pointer;
}

.links div {
  display: flex;
  flex-direction: column;
}

.hiddenLinkText {
  text-align: center;
  padding: 0px;
}

@media (min-width: 1000px) {
  .header {
    font-size: 6em;
  }

  .main {
    font-size: 3em;
  }
}
